services:
  wallet-db:
    image: postgres:15
    environment:
      POSTGRES_DB: wallet
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"

  users-db:
    image: postgres:15
    environment:
      POSTGRES_DB: users
      POSTGRES_USER: postgres  
      POSTGRES_PASSWORD: password
    ports:
      - "5434:5432"

  wallet:
    build: ./services/wallet
    ports:
      - "3001:3001"
    depends_on:
      - wallet-db
    env_file:
      - .env
    environment:
      DB_URL: ${WALLET_DB_URL}
      JWT_SECRET: ${WALLET_JWT_SECRET}
      NODE_ENV: ${NODE_ENV}

  users:
    build: ./services/users
    ports:
      - "3002:3002"
    depends_on:
      - users-db
    env_file:
      - .env
    environment:
      DB_URL: ${USERS_DB_URL}
      JWT_SECRET: ${USERS_JWT_SECRET}
      JWT_INTERNAL_SECRET: ${USERS_JWT_INTERNAL_SECRET}
      NODE_ENV: ${NODE_ENV}
