services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  users-db:
    image: postgres:16
    environment:
      POSTGRES_DB: users
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - users-db-data:/var/lib/postgresql/data

  wallet-db:
    image: postgres:16
    environment:
      POSTGRES_DB: wallet
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5434:5432"
    volumes:
      - wallet-db-data:/var/lib/postgresql/data

  users:
    build:
      context: .
      dockerfile: services/users/Dockerfile
    environment:
      USERS_PORT: "${USERS_PORT:-3002}"
      JWT_PRIVATE_KEY: "${JWT_PRIVATE_KEY:-ILIACHALLENGE}"
      USERS_DATABASE_URL: "${USERS_DATABASE_URL:-postgres://postgres:postgres@users-db:5432/users}"
      RABBITMQ_URL: "${RABBITMQ_URL:-amqp://guest:guest@rabbitmq:5672}"
    ports:
      - "3002:3002"
    depends_on:
      - users-db
      - rabbitmq

  wallet:
    build:
      context: .
      dockerfile: services/wallet/Dockerfile
    environment:
      WALLET_PORT: "${WALLET_PORT:-3001}"
      JWT_PRIVATE_KEY: "${JWT_PRIVATE_KEY:-ILIACHALLENGE}"
      WALLET_DATABASE_URL: "${WALLET_DATABASE_URL:-postgres://postgres:postgres@wallet-db:5432/wallet}"
      RABBITMQ_URL: "${RABBITMQ_URL:-amqp://guest:guest@rabbitmq:5672}"
    ports:
      - "3001:3001"
    depends_on:
      - wallet-db
      - rabbitmq

volumes:
  users-db-data:
  wallet-db-data:
