services:
  postgres:
    image: postgres:15-alpine
    container_name: ilia-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: users_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./docker/init-db.sql:/docker-entrypoint-initdb.d/init-db.sql

  postgres-wallet:
    image: postgres:15-alpine
    container_name: ilia-postgres-wallet
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: wallet_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_wallet_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  postgres_wallet_data:
